@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .input {
    @apply w-full rounded-lg border p-2.5 text-sm focus:outline-none focus:ring-2 focus:ring-primary-500;
  }

  .btn {
    @apply rounded-lg px-4 py-2 text-sm font-semibold transition-all duration-300;
  }

  .btn-primary {
    @apply bg-primary-500 text-white hover:bg-primary-600 focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }
}